---
layout: default
---

<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">{{ page._styles }}</style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
    <p class="post-tags">
      <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}"><i class="far fa-clock fa-sm"></i>&nbsp;&nbsp;{{ year }}</a>
      {%- if tags != "" %}
        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
        {% for tag in page.tags -%}
          <a href="{{ tag | prepend: '/blog/tag/' | prepend: site.baseurl}}"><i class="fas fa-hashtag fa-sm"></i>&nbsp;{{ tag }}</a>&nbsp;&nbsp;
        {% endfor -%}
      {% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
